# Секретные данные и конфигурации
.env

# Файлы базы данных и отчетов
*.db
*.csv
*.xlsx

# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Настройки VS Code
.vscode/